* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:all 0.5s ;
    font-family: sans-serif;

}

body{
    background-color: darkslategray;
}

#cours{
    height: 4rem;
    width: 90%;
    margin: 3rem 5% 0 5%;
    padding-left: 1rem;
    font-size: large;
}

#join,
#start{
    height: 3rem;
    cursor: pointer;
    font-weight: bolder;
    background-color: cornflowerblue;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 50px 14px blue;
}
#join{
    display: none;
}

#admin:hover,
#done:hover,
#home:hover,
#prev:hover,
#next:hover,
#join:hover,
#start:hover{
    background-color: #332d2d;
    color: whitesmoke;
    box-shadow: 5px 5px 50px 14px black;
}

#main-page{
    margin: 20vh auto;
    padding: 1.5rem 1rem;
    background-color: lightskyblue ;
    box-shadow: 5px 5px 50px 14px #270909;
    width: 70%;
    line-height: 2rem;
}

#logincours{
    display: flex;
    flex-direction: column;
}

#logincours>input{
    padding: 10px;
}

#cname{
     margin-bottom: 3rem;
 }

.loginhead{
    background: linear-gradient(to right, #d0b4e4, #1c257a);
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.loginhead>h2{
    font-family: 'Lucida Sans';
    color: whitesmoke;
    font-weight: bolder;
    cursor:default;
}

.loginhead h2>span{
    color: orangered;
    font-style: italic;
}

#alerttext{
    color: green;
    font-style: italic;
    font-size: smaller;
}

#admin{
    cursor: pointer;
    font-weight: bolder;
    background-color: cornflowerblue;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 50px 14px blue;
    padding: 0rem 1rem;
}

#prev, #next, #home, #done{
    display: inline-flex;
    width: 49%;
    height: 40px;
    cursor: pointer;
    font-weight: bolder;
    background-color: cornflowerblue;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 50px 14px blue;
    margin: 2rem 0 1rem 0;
}



#questions, #done, #home{
    display: none;
}

#percent{
    width: 0%;
    background-color: #fff;
    color: black;
    text-align: end;
    padding-right:1rem ;

}










#mbody {
    margin: 2rem;
    width: auto;
    padding: 1rem;
    color: aliceblue;
    font-size: larger;
}

#creatq {
    display: inline-block;
    background-color: cornflowerblue;
    padding: 1rem;
}

#question,
#q1,
#q2,
#q3,
#q4 {
    padding-right: 50vw;
}

#questions {
    margin-top: 2rem;
}

#btngruop {
    display: flex;
    flex-direction: column;
}

#cbtn,
#nbtn,
#ebtn {
    margin-top: .5rem;
    padding: .5rem;
}